:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container-fluid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("./assets/weather-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.4s;
  width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  border-radius: 25px;

  box-shadow: 0px 0px 30px #00000065;
}

@media (max-width: 768px) {
  .container-fluid {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
  }
}
